@font-face {
  font-family: 'Raleway-Bold';
  src: url('../fonts/raleway/Raleway-Bold.ttf') format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: 'Raleway-Medium';
  src: url('../fonts/raleway/Raleway-Medium.ttf') format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 500;
}