:root {
  --bg-color: #FFFFFF;
  --basis-color: #2C2D35;
  --basis-bg-color: #598D66;
  --accent-bg-color: #376B44;
  --accent-text-color: #D4E8D9;
  --gray-color: #86928B;
  --light-color: #F4F6F5;

  --color-yelow-01: #EEDB6D;
  --color-yelow-02: #FAEB97;
  --color-yelow-03: #A38314;
  --color-yelow-04: #D9B949;

  --font-family-basis: 'Raleway-Medium', sans-serif;
  --font-family-second: 'Raleway-Bold', sans-serif;

  $laptop: 1440px;
  $tablet: 689px;
  $tablet-l: 509px;
  $mobile: 478px;
}